:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100%;
}

html {
  background: linear-gradient(38deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(237,249,255,1) 22%, rgba(234,247,255,1) 58%, rgba(218,241,255,1) 59%, rgba(218,241,255,1) 100%);
  min-height: 100%;
}

a {
  text-decoration: none;
}