.noteContainer {
    height: calc(100% - 26px);
    border-right: 1px solid rgb(235 235 235 / 62%);
    margin: 6px;
    box-shadow: 5px 6px 6px #e9e9e945;
    margin-top: 20px;
}

.noNote {
    margin-left: 6px;
}