$myBlack: rgb(22, 22, 22);

.backArrow {
    width: 50px;
    position: absolute;
    left: 25px;
    top: 88px;
    cursor: pointer;
}

.city {
    margin-left: 12px;
    font-size: 28px;
    text-align: center;
    margin: 20px 80px;
}

.city {
    margin-left: 12px;
    font-size: 28px;
    text-align: center;
    margin: 20px 80px;
}

.cardContainer2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    max-width: 588px;
}

.cardWrapper2 {
    animation: float2 10s ease-in-out infinite;
}

.card2 {
    height: fit-content;
    width: 118px;
    min-width: 118px;
    border: 4px solid $myBlack;
    text-align: center;
    border-radius: 10px;
    margin: 2px;
    color: $myBlack;
    box-shadow: 2px 3px 17px 5px rgb(179 203 209 / 82%);
    position: relative;
    background-color: #ffffffd1;
    transform: translatey(0px) translatex(0px);
	animation: float 14s ease-in-out infinite;

    &__date {
        font-weight: bold;
        font-size: 20px;
        margin: 10px 0 24px 0;
    }

    > img {
        width: 66px;
    }

    &__temp {
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        top: 26px;
        left: 60px;
        color: #0f5a78;
    }

    &__humidity {
        margin: 2px 0px 8px 17px;
        position: relative;

        > img {
            width: 12px;
            position: absolute;
            left: 11px;
        }
    }

    &__wind {
        margin: 8px 8px 12px 8px;

        > img {
            width: 14px;
        }
    }
}

@keyframes float {
    0% {
        box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.1);
        transform: translatey(0px);
    }

    25% {
        transform: translatey(-5px);
    }

    50% {
        box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.1);
        transform: translatey(0px);
    }

    75% {
        transform: translatey(-5px);
    }

    100% {
        box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.1);
        transform: translatey(0px);
    }
}


@keyframes float2 {
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(-5px);
    }

    100% {
        transform: translatex(0px);
    }
}