html, body {
    height: 100%;
    overflow-y: hidden;
    color: rgb(46, 46, 46);
    min-width: 750px;
}

#root {
    display: flex;
    height: 100%;
} 

.leftSideContainer {
    width: 20%;
}

.rightSideContainer {
    width: 80%;
}