#searchBar {
    width: 212px;
    height: 27px;
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 38px;
    border: 1px solid #e3e3e3;
    font-weight: 900;
    padding: 0px 14px;
    border-radius: 50px;
}

#searchBtn {
    background-color: #85b478;
    height: 46px;
    width: 46px;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 24px;
    border-radius: 50px;
    cursor: pointer;
    border: 4px solid #ededed;

    p {
        line-height: 2.5;
        font-size: 10px;
        color: white;
        text-align: center;
        font-weight: 300;
    }
}