.footer {
    margin: 0 0 20px 20px;
    margin: 26px auto;
    width: 321px;
    font-size: 12px;
    font-weight: 600;

    span {
        color: white;
        background-color: rgb(3, 3, 3);
        border-radius: 3px;
        padding: 3px;
    }
}