.note {
    margin: 18px 5px;
    cursor: pointer;

    &__title {
        margin: 0px 16px 0px 0px;
    }

    &__text {
        margin: 0px 16px 0px 0px;
        max-height: 58px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: pre-line;
    }
}