$myBlack: rgb(30, 30, 30);

.navbar {
    width: fit-content;
    margin-top: 14px;
    a {
        color: $myBlack;
        text-decoration: none;
        padding: 16px;
        font-size: 26px;
        font-weight: 900;
    }
}