$border-color : rgba(235, 235, 235, 0.62);
.form {
    width: calc(100% - 6px);
    height: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    margin-left: 6px;

    &__title {
        height: 40px;
        margin-bottom: 10px;
        border-radius: 6px;
        border: 1px solid $border-color;
        padding: 20px;
        font-size: 28px;
    }

    &__text {
        height: 200px;
        margin-bottom: 10px;
        border-radius: 6px;
        border: 1px solid $border-color;
        padding: 20px;
    }

    &__btn {
    width: 50%;
    height: 46px;
    background-color: #003b7b;
    text-align: center;
    padding-top: 16px;
    font-weight: bold;
    color: white;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    }
}